.TableEvent {
  table {
    width: 100%;
    background-color: rgba(#fff8c6, 0.8);
    border-radius: 20px;
    color: black;
    text-align: center;
    font-size: 15px;
    margin-bottom: 20px;
    padding-right: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
      0 4px 4px rgba(0, 0, 0, 0.11), 0 8px 8px rgba(0, 0, 0, 0.11), 0 16px 16px rgba(0, 0, 0, 0.11),
      0 32px 32px rgba(0, 0, 0, 0.11);

    .headTable {
      width: 100%;
      font-size: 30px;
      padding-left: 1px;
      text-align: rigth;
      margin-bottom: 50px;
    }

    tr {
      th {
        font-size: 22px;
      }
      th .sport {
        width: 20%;
        text-align: right;
      }
      th .address {
        width: 20%;
      }
      th .date {
        width: 20%;
      }
    }
  }
}
