.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ButtonGeneric {
  margin: 1rem 1rem;
  height: 2rem;
  width: auto;
  color: #f4f6ff;
  background-color: #cea820;
  font-family: 'Roboto', sans-serif;
  border: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 0.7rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  border-radius: 0.7rem;
  cursor: pointer;
  outline: none;
}

.ButtonGeneric:hover {
  background-color: #f3c623;
  box-shadow: 0px 10px 12.5px #c09f27;
  color: #10375c;
  transform: translateY(-4px);
}
