.autoCompleteInput {
  .Ctn {
    margin-top: -3px;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .SportImage {
    width: 1rem;
    height: 1rem;
    margin-top: 5px;
  }
}
