@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import '../../Style/colors';

html {
  background: url('../../Images/BackgroundImages/Basketball.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.Main {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  color: $quaternary;
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  box-sizing: border-box;
}
