.Login {
  margin-top: 8vh;
  background-color: rgba(243, 227, 213, 0.9);
  width: 100vw;
  height: 92vh;

  .welcome {
    margin: 0;
    padding-top: 7vh;
    text-align: center;
  }

  .loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .emailField {
    margin-top: 5vh;
    width: 300px;
  }

  .passWField {
    margin: 5vh 0;
    width: 300px;
  }
}

.errorNotification {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(243, 227, 213, 0.3);
  height: 100vh;
  width: 100vw;
  color: #8B0000;
  font-size: 16px;
}