.SearchBar {
  display: flex;
  justify-content: flex-end;
  margin: 3%;
  margin-top: 5.5rem;
  margin-bottom: 0.5rem;
  .SearchBar_Field {
    width: 40%;
    .SearchBar_Field_Label {
      color: white;
      font-weight: 600;
      font-size: 0.9rem;
      text-shadow: 3px 3px 7px rgba(0, 0, 0, 1);
      margin: 0.2rem;
      margin-left: 0.7rem;
      display: flex;
      justify-self: flex-start;
    }
  }
}
