.SearchBar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 3%;
  margin-top: 5.5rem;
  margin-bottom: 0.5rem;
  .SearchBar_Field_CalendarIcon {
    height: 1.5rem;
    width: 2rem;
    margin-right: 0rem;
  }
  .SearchBar_Field {
    display: flex;
    width: 100%;
    img {
      margin-right: 0rem;
    }
  }
}
