.SignUp {
  margin-top: 8vh;
  background-color: rgba(243, 227, 213, 0.9);
  width: 100vw;
  height: 90vh;

  .welcome {
    margin: 0;
    padding-top: 7vh;
    text-align: center;
  }

  .signUpForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .emailField {
    margin-top: 5vh;
    width: 300px;
  }

  .passWField {
    margin: 5vh 0;
    width: 300px;
  }
}