@import '../../Style/colors';

.sportlistContainer {
  width: 95%;
  align-self: center;
}

.SportList {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  background-color: white;
  flex-wrap: no-wrap;
  width: 100%;
  overflow: auto;
  white-space: nowrap;
  box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.7);
  border-radius: 8px;
}
