@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import '../../Style/colors';

img {
  margin: 0.5rem;
  margin-right: 0;
  height: 2.8rem;
  width: 4rem;
}
.Navbar {
  width: 100%;
  height: 8vh;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
}

.NavbarLeft_logo_img {
  width: 200px;
  position: relative;


}

.logoContainer {
  margin: 10px;
}

.NavbarLeft_logo_ball {
  color: white;
  width: 0.6rem;
  height: 0.6rem;
  margin-top: 2rem;
  margin-left: 0;
  margin-right: 5px;
}
.NavbarLeft_logo_name {
  font-weight: 800;
  font-size: 1.75rem;
  color: #10375c;
  letter-spacing: 2px;
  font-family: 'Bree Serif', serif;
}

.LoginLink {
  color: #10375c;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  display: flex;
  font-weight: 800;
}

.LoginLink:hover {
  color: #127681;
  text-decoration: none;

  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  display: flex;
  font-weight: 800;
}

.NavbarLeft {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

.NavbarRight {
  display: flex;
  text-align: center;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
}
