@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Loader {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  color: #eea551;
}
