@import '../../Style/colors';
.Container {
  background-color: white;
  color: #56556e;
  margin: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 1rem;
  font-size: 0.8rem;
  max-width: 500px;
}

.Head {
  display: flex;
  justify-content: space-between;
  .EventTitle {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 0.6rem;
    margin-left: 1rem;

    .Title {
      margin: 0;
      text-align: left;
      color: #56556e;
    }
    .Title:hover {
      text-decoration: underline;
    }
    div {
      margin: 0;
      margin-bottom: 0.2rem;
      display: flex;
      align-items: center;
      img {
        height: 0.8rem;
        width: 0.8rem;
        margin: 0rem;
        margin-right: 0.2rem;
        margin-bottom: 0.3rem;
      }
      p {
        text-align: left;
        margin: 0.2rem;
      }
    }
  }
  img {
    height: 2rem;
    width: 2rem;
    margin: 0.8rem;
  }
}

.EventLogin {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

h2 {
  font-size: 1rem;
  margin-top: 0rem;
  margin-left: 2rem;
  margin-bottom: 0;
}
.EventHeader {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.7);
  color: #f4f6ff;
}
.EventBox_left {
  margin: 0.3rem;
  border-radius: 1.2rem;
  width: 5rem;
  box-shadow: 0.2rem 0.2rem 0.8rem rgba(0, 0, 0, 0.041);
  background-color: #ffd571;
  padding: 0;

  p {
    color: rgb(231, 9, 9);
    font-size: 1rem;
    margin: 0;
    margin-top: 0.3rem;
  }
  h4 {
    margin-top: 0.2rem;
    margin-bottom: 0.4rem;
  }
  .EventBox_Left_Time {
    margin-top: 0.3rem;
    font-size: 0.7rem;
  }
}
.EventBox_center {
  h4 {
    margin: 0;
    margin-bottom: 0.8rem;
    span {
      font-size: 0.7rem;
    }
  }
  .EventBox_center_picContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
button {
  border: none;
  background-color: rgba(255, 245, 238, 0);
}
.EventBox_center_pic {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin: 0rem;
  border: solid white 0.15rem;

  &:nth-of-type(1) {
    transform: translateX(50%);
    z-index: 1;
  }
  &:nth-of-type(2) {
    transform: translateX(25%);
  }
}
